{% extends 'base.html' %}
{% set active_page = "canteens" %}

{% block title %}
{{canteen.name}} Canteen Page
<!-- Or change to Canteen Webapp -->
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/style/css/canteenpage.css">
{% endblock %}

{% block navcart %}
  {% if current_user.auth_type != 0 %}
      <li class="nav-item">
          <div class="nav-link" href="" onclick="toggleCart()">Cart
              <i class="bi bi-cart2" style="color: black; font-size: 16px;"></i>
          </div>
      </li>
  {% endif %}
{% endblock %}

{% block content %}

<script >
  function toggleCart(){
    document.querySelector('#sidecart').classList.toggle('bg-over-lay');
    document.querySelector('.sidecart').classList.toggle('open-cart');
  }
  function addToCart(){
    document.querySelector('#enter-food-info').classList.toggle('bg-over-lay');
    document.querySelector('.pop-up').classList.toggle('display-show');
    var htmlTag = document.getElementsByTagName('html');
    htmlTag[0].classList.toggle('overflow-hidden')


  }
</script>

<main>

  <!-- Sidecart -->
  <div id="sidecart" class="">
    <div class="sidecart bg-light text-center">
    
    <div class="nav flex-column container">
      <div class="text-secondary m-0 px-4 text-center container pt-4">
        <div class="h4 font-weight-light text-center">
          Your Cart 
          <div class="d-inline float-right" style="margin-right: 0 auto;" onclick="toggleCart()">x</div>  <!-- THIS BLOCK EFFECTS THE CENTRE, IF LOOK CAREFULLY "YOUR CART" IS NOT CENTERED -->
        </div>
        <div class="h6 font-weight-light">No items in your cart</div>
      </div>
      <div class="pb-2">Your order from {{canteen.name}}</div>
            
      {% if cart[canteen.name] %}
        {% for dish in cart[canteen.name]["cart"] %}
          <div class="flex-column container flex-wrap p-0 overflow-auto" style="max-height:40vh">
            <div class="nav-link d-flex flex-wrap flex-column">
              <div class="flex-row flex-wrap d-flex">
                <div class="mr-auto text-maincolor">{{dish.name}}</div>
                <div class="ml-auto">${{dish.price}}</div>
              </div>
              <div class="ml-auto flex-row d-flex plus_sign" >
                <form name="remove-dish" id="remove-dish" method="post">
                  <button class="pl-2" type="submit" name="remove-dish" value="{{dish._id}}" style="background-color: transparent; border: 0px;">-</button>
                </form>
                <div>{{dish.count}}</div>
                <form name="add-dish" id="add-dish" method="post">
                  <button class="pl-2" type="submit" name="add-dish" value="{{dish._id}}" style="background-color: transparent; border: 0px;">+</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="flex-column container flex-wrap p-0 overflow-auto" style="max-height:40vh">
          <div class="nav-link d-flex flex-wrap flex-column">
            <div class="flex-row flex-wrap d-flex">
              <div class="mr-auto text-maincolor">Your cart is empty.</div>
            </div>
          </div>
        </div>
      {% endif %}
    

    </div>
    <hr>

    <div class="nav flex-column container" >
      <div class="nav-link d-flex flex-wrap flex-column">
        
        <div class="flex-row flex-wrap d-flex pb-2">
          <div class="mr-auto">Total</div>
          {% if cart[canteen.name] %}
            <div class="ml-auto">${{cart[canteen.name]['total_price']}}</div>
          {% else %}
            <div class="ml-auto">$0</div>
          {% endif %}
        </div>
          

        <div class="pt-2">
          <a href="/cart">
            <button type="button" class="pt-2 btn btn-main-color w-100">Go to checkout</button>
          </a>
        </div>
      </div>
    </div>
    
    </div>
  </div>

  <!-- Canteen Thumbnail and Info -->
  <div class="m-0 p-0" style="overflow: hidden; background-color: #ffffff;">
    {% if canteen.image_path %}
    <div id="bg-img" style="background-image: url({{canteen.image_path}}) ;">
      {% endif %}
    </div>

    <div id="canteen-info" class="container-fluid pt-5 pl-5 pb-4">
      <div class="h1"> {{canteen.name}} </div>
      <div class="font-weight-light h4"> Open from {{canteen.open_at}} to {{canteen.close_at}} </div>
      <!--image from flaticon-->
      <img src="../../static/image/icon/map.png" class="mr-2" style="float:left;" alt="map" width="30" height="30"><a
        class="btn btn-outline-success btn-sm" target="_blank"
        href="https://maps.google.com/maps?q={{canteen.latitude}},{{canteen.longitude}}" role="button">Open in Google
        Map</a>
      <!--        <div class="" style="font-weight: 200;"> Minimum price: $27 | Wait time: 30min - 1hr</div>-->
    </div>

  </div>

  <!-- Menu Section -->
  <div id="cat-1" class="mt-4 mb-4 pt-0 pl-5 pr-4 pb-5 container-fluid" style="background-color:rgb(255, 255, 255); ">
    <div class="container m-0 pt-4 pb-1 pl-0">
      <div class="p-0 h2">Menu</div>
    </div>

    <div class="container-fluid p-0">
      <div class="d-flex flex-row flex-wrap" style="background-color: rgb(255, 255, 255);">

        {% for dish in canteen.menu %}
        <div class="container m-0 pt-3 pb-3 pl-0 pr-3 col-lg-4 col-12 col-md-6" style="height: 20vh;">
          <form method="post">
            <button class="food-menu btn btn-outline-secondary w-100" type="submit" name="add-dish" value="{{dish._id}}" style="height: 132px;">
              <div class="container m-0">
                <div class="flex-row d-flex flex-wrap">
                  <!-- Left side of button -->
                  <div class="d-flex flex-column" style="max-width: 50%;">
                    <span class="mr-auto pt-2 h4">{{dish.name}}</span>
                    <span class="mr-auto font-weight-light h6 text-left"
                      style="font-size: 15px">
                      <!-- only show 3 ingredients -->
                      {{ dish.ingredients[0] }}
                      {% for i in range((dish.ingredients)|length) if not i >= 2 %}, {{ dish.ingredients[i+1] }} 
                      {% endfor %}
                    </span>
                    <span class="mr-auto font-weight-light h6 text-left" style="font-size: 20px">${{dish.price}}</span>
                  </div>
                  <!-- Right Side of Button -->
                  <div class="ml-auto">
                    {% if dish.image_path %}
                    <img src="{{dish.image_path}}" style="object-fit: cover; width: 100px; height: 100px;">
                    {% endif %}
                  </div>
                </div>
              </div>
            </button>
          </form>
        </div>


        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Comment Section -->
  <div id="cat-2" class="mt-4 mb-4 pt-0 pl-5 pr-4 pb-4 container-fluid" style="background-color:rgb(255, 255, 255); ">
    <div class="container m-0 pl-0 pt-4 pb-3">
      <h2>Comment</h2>
      <div class="h5 font-weight-light">200 comments</div>
      <br>
      <img src="../../static/image/icon/comment.png" class="mr-2" style="float:left;" alt="comments" width="35" height="35">
            <a href="/post_comment/{{canteen._id}}">
              <button class="btn btn-outline-primary btn-sm">Post a comment</button>
            </a>
    </div>

    <div class="container-fluid pl-0 pr-0">
      <div class="d-flex flex-row flex-wrap" style="background-color: rgb(255, 255, 255);">
        {% for comment in comments %}
        <!-- Comment Block-->
        <div class="container m-0 pt-3 pb-3 pr-3 pl-0 col-12">
          <div class="comment btn w-100 pt-0 pl-3 mr-0" style="min-height: 140px;">
            <div class="container mr-0 ml-0 mt-0">
              <div class="flex-wrap">
                <div class="d-flex flex-row">
                  <!-- User Image and Rating -->
                  <div class="pt-4 d-flex flex-column">
                    <img src="../../static/image/tmp/user_profile_sample.png" style="object-fit: cover; width: 50px; height: 50px;">
                    <div class="d-flex flex-inline pl-1 pt-2">
                      <img src="../../static/image/icon/star.png" style="width: 20px; height: 20px;">
                      <div class="h6 font-weight-light text-center pl-2" style="font-size: 20px">{{comment.rating}} </div>
                    </div>
                  </div>

                  <!-- Account Name, Comment and Time Stamp -->
                  <div class="pl-4 pt-4" style="max-width: 100%;">
                    <!-- Account Name -->
                    <div class="d-flex flex-column"> 
                      <span class="mr-auto h4" >{{comment.by_user.username}} </span>
                    </div>

                    <!-- Comment -->
                    <div class="text-left">
                      <div class="font-weight-light" style="font-size: 20px; word-wrap: break-word;">{{comment.paragraph}}</div>
                    </div>
                    <br>
                    <div class="text-left pb-2 text-secondary">
                      <span class="font-weight-light"
                        style="font-size: 15px">{{comment.at_time}}</span>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}

{% block style %}
<style>
  /* body {
      background-color: #212121;
      color: white
      } */
</style>
{% endblock %}