{% extends 'base.html' %}
{% set active_page = "Order" %}

{% block title %}
Order List
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../../static/style/css/order_history.css">
{% endblock %}

{% block content %}
<script src="../../static/style/js/finishedorder.js"></script>

<div class="mt-4 mb-4 mx-4 pb-4 headblock" style="max-width: 100%;">
    <div class="container pt-4 pl-4 h1 m-0">My Order</div>
</div>

<!--Current Order Block-->
<div class="mt-4 mb-4 mx-4 pb-4 subblock" style="background-color:rgb(255, 255, 255); max-width: 100%;">
    <div class="px-4 pt-4 m-0">
        <div class="container-fluid pt-0 pl-0 pr-0 pb-2 d-flex">
            <h2 class="mx-4">Current Order</h2>
        </div>

        <div class="d-flex flex-row flex-wrap">
        {% for order in unfinished_orders %}
            {% if order %}
                <div class="pt-1 pb-3 col-4">
                    <!--Card showing the current order-->
                    <div id="cardCurrent" class="card ml-4 mr-4">
                        <div class="card-body">
                            <div class="row ml-3 mt-1">
                                <div class="pr-4 w-100">
                                    <div class="h3">Order ID: {{(order._id|string)[-4:]}}</div>
                                    <hr>
                                    <div class="h5">{{order.at_canteen_name}}</div>
                                    <div>{{order.at_time.hour}}:{{order.at_time.minute}}:{{order.at_time.second}} {{order.at_time.day}}/{{order.at_time.month}}/{{order.at_time.year}}</div>
                                </div>
                            </div>
                            <div class="container-fluid my-1">
                                <div class="">
                                    <!-- Table Header -->
                                    <table class="table mx-0 mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th width="50%">Menu</th>
                                                <th width="50%">Amount</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <!-- Table Row and Data -->
                                    <div style="max-height: 150px; overflow: auto;">
                                        <table class="table mx-0 mb-0">
                                            <tbody>
                                                {% for dish in order.dishes %}
                                                <tr>
                                                    <td width="50%">{{dish[0]}}</td>
                                                    <td width="50%">{{dish[1]}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-3 mt-1">
                                <p>
                                    <b>Total Price: {{order.total_price}}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        {% if (unfinished_orders|length) == 0 %}
        <div class="row mx-4">
            <p><b>There is no current order.</b></p>
        </div>
        {% endif %}

    </div>
</div>

<!--Order History Block-->
<div class="mt-4 mb-4 mx-4 pb-4 subblock" style="background-color:rgb(255, 255, 255); max-width: 100%;">
    <div class="px-4 pt-4 m-0">
        <div class="container-fluid pt-0 pl-0 pr-0 pb-2 d-flex">
            <h2 class="mx-4">Order History</h2>
        </div>

        {% for month in finished_orders %}
        <div class="container-fluid pt-0 pl-0 pr-0 pb-2 d-flex">
            <h4 class="mx-4">{{month}}</h4>
        </div>

        <!--Show order history in that month-->
        <div class="d-flex flex-row">
            {% for order in finished_orders[month] %}
                <div class="col-4">
                    <div class="pt-1 pb-3 container-fluid">
                        <div class="card ml-2 mr-2">
                            <div class="card-body">
                                <div class="row ml-3 mt-1">
                                    <p>
                                        <b>Order ID: {{(order._id|string)[-4:]}}</b><br>
                                        <b>Ordered {{order.at_time.day}}/{{order.at_time.month}}/{{order.at_time.year}}</b><br>
                                        <b>{{order.at_canteen_name}}</b>
                                    </p>
                                </div>
                                <div class="container-fluid my-1">
                                    <div class="">
                                        <!-- Table Header -->
                                        <table class="table mx-0 mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th width="50%">Menu</th>
                                                    <th width="50%">Amount</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <!-- Table Row and Data -->
                                        <div style="max-height: 150px; overflow: auto;">
                                            <table class="table mx-0 mb-0">
                                                <tbody>
                                                    {% for dish in order.dishes %}
                                                    <tr>
                                                        <td width="50%">{{dish[0]}}</td>
                                                        <td width="50%">{{dish[1]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ml-3 mt-1">
                                    <p>
                                        <b>Total Price: {{order.total_price}}</b><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}