{% extends 'base.html' %}
{% block title %}
Canteen List
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/style/css/menu.css">
{% endblock %}

{% block content %}
  <div id="cat-1" class="mt-4 mb-4 ml-4 pt-0 pl-0 pr-0 pb-4 mr-3 headblock" style="max-width: 100%;">
    <div class="container pt-4 pl-4 h1 m-0">Menu Edits</div>
  </div>

  <div id="cat-2" class="mt-4 mb-4 ml-4 pt-0 pl-0 pr-0 pb-4 mr-3 block" style="background-color:rgb(255, 255, 255); max-width: 100%;">
    <div class="pl-4 pt-4 m-0">
        <div class="container-fluid pr-4 pl-0 pt-0 pb-0 h1 m-0 d-flex d-row">
            <div>Set</div>
            <div class="ml-auto"><button class="btn btn-success">Add Set</button></div>
        </div>

        <div class="m-0 pt-3 pb-3 mr-3 pl-0 pr-3 container-fluid flex-row flex-wrap">

            <form>
                <label class="labl col-lg-3 col-12 col-md-6 p-0 mr-3" style="max-width: 300px;">
                <!-- One Block -->
                    <input type="radio" name="set" value="set1" checked="checked">
                    <div class="comment btn w-100 pt-0 pl-3 mr-0" style="min-height: 140px;">
                        <div class="pt-2 m-0 ">
                            <div class="d-flex flex-row mb-2 pt-2">
                                <div class="m-0 h4 text-left">Set 1</div>
                                <div class="ml-auto">
                                    <a class="btn btn-primary btn-sm" href="">Edit</a>
                                    <a class="btn btn-warning btn-sm" href="">Duplicate</a>
                                    <a class="btn btn-danger btn-sm" href="">Delete</a>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Main Dish</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Dish 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Dish 2</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Dish 3</td>
                                </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Drink</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Drink 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Drink 1</td>
                                </tr>
                            </table>        
                        </div>
                    </div>
                </label>

                <label class="labl col-lg-3 col-12 col-md-6 p-0 mr-3" style="max-width: 300px;">
                    <!-- One Block -->
                        <input type="radio" name="set" value="set2">
                        <div class="comment btn w-100 pt-0 pl-3 mr-0" style="min-height: 140px;">
                            <div class="pt-2 m-0 ">
                                <div class="d-flex flex-row mb-2 pt-2">
                                    <div class="m-0 h4 text-left">Set 2</div>
                                    <div class="ml-auto">
                                        <a class="btn btn-primary btn-sm" href="">Edit</a>
                                        <a class="btn btn-warning btn-sm" href="">Duplicate</a>
                                        <a class="btn btn-danger btn-sm" href="">Delete</a>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Main Dish</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Dish 1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Dish 2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Dish 3</td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Drink</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Drink 1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Drink 1</td>
                                    </tr>
                                </table>        
                            </div>
                        </div>
                    </label>


            </form>
            
        </div>

    </div>


  </div>

  <div id="cat-3" class="mt-4 mb-4 ml-4 pt-0 pl-0 pr-0 pb-4 mr-3 block" style="background-color:rgb(255, 255, 255); max-width: 100%;">
    

    <div class="container-fluid pt-4 pl-4 pb-4 m-0 pr-0">
        <div class="container-fluid pr-4 pl-0 pt-0 pb-0 h1 mb-3 d-flex d-row">
            <div>Type</div>
            <div class="ml-auto"><button class="btn btn-success">Add Type</button></div>
        </div>
        
        <div class="container-fluid pl-0 pr-0 d-flex flex-row flex-wrap">
        <!-- Main Dish -->
        <div class="mb-4 col-6">
            <div class="h5 text-maincolor"> Main Dish </div>
            <div class="block mr-4">
                <table class="table m-0 p-0">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">#</th>
                            <th scope="col" class="align-middle">Main Dish</th>
                            <th scope="col" class="align-middle">Price</th>
                            <th class="d-flex flex-row align-items-center">
                                <div class="">Action</div>
                                <span class="ml-auto"><a class="btn btn-maincolor-semi">Add Menu</a></span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div style="max-height: 252px; overflow: auto;">
                    <table class="table m-0 p-0">
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
        
            </div>
        </div>

        <!-- Drink -->
        <div class="mb-4 col-6">
            <div class="h5 text-maincolor"> Drink </div>
            <div class="block mr-4">
                <table class="table m-0 p-0">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">#</th>
                            <th scope="col" class="align-middle">Main Dish</th>
                            <th scope="col" class="align-middle">Price</th>
                            <th class="d-flex flex-row align-items-center">
                                <div class="">Action</div>
                                <span class="ml-auto"><a class="btn btn-maincolor-semi">Add Menu</a></span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div style="max-height: 252px; overflow: auto;">
                    <table class="table m-0 p-0">
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dish 1</td>
                            <td>$100</td>
                            <td class="text-left">
                                <div>
                                    <span><a href="" class="btn btn-primary">Edit</a></span>
                                    <span></span><a href="" class="btn btn-danger">Delete</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
        
            </div>
        </div>

        

    

    </div>

  </div>



{% endblock %}
