{% extends 'base.html' %}

{% block title %}
Order List
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/style/css/order.css">
{% endblock %}

{% block content %}

<script src="../../static/style/js/finishedorder.js"></script>

<div id="cat-1" class="mt-4 mb-4 ml-4 pt-0 pl-0 pr-0 pb-4 mr-3 headblock" style="max-width: 100%;">
    <div class="container pt-4 pl-4 h1 m-0">Order Management</div>
</div>

<div id="cat-2" class="mt-4 mb-4 ml-4 px-1 pb-4 mx-3 subblock"
    style="background-color:rgb(255, 255, 255); max-width: 100%;">
    <div class="pl-4 pt-4 m-0">
        <div class="container-fluid pt-0 pl-0 pr-0 pb-2  d-flex">
            <h2>Wating Order</h2>
        </div>

        <!--card showing waiting order (Late)-->
        <div class="container-fluid p-0 d-flex">
            <p>
            <h3 class="mx-5">Order ID: </h3>
            </p>
        </div>
        <div class="pt-1 pb-3 mr-5 container-fluid">
            <div id="cardLate" class="card ml-4 mr-5">
                <div class="card-body">
                    <div class="row ml-2 mt-2">
                        <div class="col-6">
                            <h5>Customer ID: </h5>
                        </div>
                        <div class="col-6">
                            <h5>Ordered Time: </h5>
                        </div>
                    </div>

                    <div class="container-fluid mr-5 my-2">
                        <div class="">

                            <!-- Table Header -->
                            <table class="table mx-0 mb-0">
                                <thead>
                                    <tr>
                                        <th class="width: 50%">Menu</th>
                                        <th class="width: 50%">#</th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- Table Row and Data -->
                            <div style="max-height: 150px; overflow: auto;">
                                <table class="table m-0 p-0">
                                    <tbody>
                                        <tr>
                                            <td>Dish 1</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Dish 1</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Milk Tea Milk Tea</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Dish 1</td>
                                            <td>2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="row ml-2 mb-2">
                        <div class="col-6">
                            <h5></h5>
                        </div>
                        <div class="col-6">
                            <h5>Status: </h5>
                            <div id="finish"><button type="button" class="btn btn-primary" display="inline-block"
                                    onclick="yesorno()">Finish</button></div>
                            <div class="row">
                                <div id="yes" class="ml-1"></div>
                                <div id="no" class="ml-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--card showing waiting order (Not Late)-->
        <div class="container-fluid p-0 d-flex">
            <p>
            <h3 class="mx-5">Order ID: </h3>
            </p>
        </div>
        <div class="pt-1 pb-3 mr-5 container-fluid">
            <div id="cardNotLate" class="card ml-4 mr-5">
                <div class="card-body">
                    <div class="row ml-2 mt-2">
                        <div class="col-6">
                            <h5>Customer ID: </h5>
                        </div>
                        <div class="col-6">
                            <h5>Ordered Time: </h5>
                        </div>
                    </div>

                    <div class="container-fluid mr-5 my-2">
                        <div class="row justify-content-center">
                            <table class="table mx-3">
                                <thead>
                                    <tr>
                                        <th class="width: 50%">Menu</th>
                                        <th class="width: 50%">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dish 1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Dish 1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Milk Tea Milk Tea</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Dish 1</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row ml-2 mb-2">
                        <div class="col-6">
                            <h5></h5>
                        </div>
                        <div class="col-6">
                            <h5>Status: </h5>

                            <div id="finish"><button type="button" class="btn btn-primary" display="inline-block"
                                    onclick="yesorno()">Finish</button></div>
                            <div class="row">
                                <div id="yes" class="ml-1"></div>
                                <div id="no" class="ml-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cat-2" class="mt-4 mb-4 ml-4 px-1 pb-4 mx-3 subblock"
    style="background-color:rgb(255, 255, 255); max-width: 100%;">
    <div class="pl-4 pt-4 m-0">
        <div class="container-fluid pt-0 pl-0 pr-0 pb-2  d-flex">
            <h2>Finished Order</h2>
        </div>

        <!--card showing finished order-->
        <div class="container-fluid p-0 d-flex">
            <p>
            <h3 class="mx-5">Order ID: </h3>
            </p>
        </div>
        <div class="pt-1 pb-3 mr-5 container-fluid">
            <div id="cardFinished" class="card ml-4 mr-5">
                <div class="card-body">
                    <div class="row ml-2 mt-2">
                        <div class="col-6">
                            <h5>Customer ID: </h5>
                        </div>
                        <div class="col-6">
                            <h5>Ordered Time: </h5>
                        </div>
                    </div>

                    <div class="container-fluid mr-5 my-2">
                        <div class="row justify-content-center">
                            <table class="table mx-3">
                                <thead>
                                    <tr>
                                        <th class="width: 50%">Menu</th>
                                        <th class="width: 50%">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dish 1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Dish 1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Milk Tea Milk Tea</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Dish 1</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row ml-2 mb-2">
                        <div class="col-6">
                            <h5></h5>
                        </div>
                        <div class="col-6">
                            <h5>Status: </h5>
                            <div id="finish"><button type="button" class="btn btn-primary" display="inline-block"
                                    onclick="yesorno()">Finish</button></div>
                            <div class="row">
                                <div id="yes" class="ml-1"></div>
                                <div id="no" class="ml-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}