{% extends 'base.html' %}
{% set active_page = "Order" %}
{% block title %}
Order List
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='style/css/order.css')}}">
{% endblock %}
{% block content %}
<script src="{{url_for('static',filename='style/js/finishedorder.js')}}"></script>
<script>
    setInterval(function () { location.reload() }, 30000);
</script>
<div class="mt-4 mb-4 mx-4 pb-4 headblock" style="max-width: 100%;">
    <div class="container pt-4 pl-4 h1 m-0">Order Management</div>
</div>
<div class="mt-4 mb-4 mx-4 pb-4 subblock" style="background-color:rgb(255, 255, 255); max-width: 100%;">
    {% with orders = orders %}
    {% include "canteen/partial_order.html" %}
    {% endwith %}
</div>
<div class="mt-4 mb-4 mx-4 pb-4 subblock" style="background-color:rgb(255, 255, 255); max-width: 100%;">
    <div class="px-4 pt-4 m-0">
        <div class="container-fluid pt-0 pl-0 pr-0 pb-2 d-flex">
            <h2 class="mx-4">Finished Order</h2>
        </div>
        {% set count = namespace(value=0) %}
        {% if orders %}
        {% for order in orders if order.order_status == 'finished' %}
        {% set count.value = count.value + 1 %}
        {% if (count.value) % 3 == 1 %}
        <!--card showing waiting order (Late)-->
        <div class="row">
            {% endif %}
            {% if order.order_status == 'finished' %}
            <!--A Column-->
            <div class="col-4">
                <!--orderID-->
                <div class="container-fluid p-0 d-flex">
                    <p>
                    <h3 class="mx-4">Order ID: {{ (order._id|string)[-4:] }}</h3>
                    </p>
                </div>
                <!--card (Finished)-->
                <div class="pt-1 pb-3 container-fluid w-100 m-0">
                    <div class="card ml-2 mr-2">
                        <div class="card-body">
                            <div class="row ml-3 mt-1">
                                <p>
                                    <div>Time: {{order.at_time.hour}}:{{order.at_time.minute}}:{{order.at_time.second}} {{order.at_time.day}}/{{order.at_time.month}}/{{order.at_time.year}}</div>
                                </p>
                            </div>
                            <div class="container-fluid my-1">
                                <div class="">
                                    <!-- Table Header -->
                                    <table class="table mx-0 mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th width="50%">Menu</th>
                                                <th width="50%"><div class="text-center">Amount</div></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <!-- Table Row and Data -->
                                    <div style="max-height: 150px; overflow: auto;">
                                        <table class="table mx-0 mb-0">
                                            <tbody>
                                                {% if order.dishes %}
                                                {% for name, num in order.dishes %}
                                                <tr>
                                                    <td width="50%">{{ name }}</td>
                                                    <td width="50%"><div class="text-center">{{num}}</div></td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--buttons-->
                            <div class="row ml-1 my-2">
                                <div class="col-6">
                                    <p><b>Status: Finished</b><br>
                                        <b>Total Price: {{ order.total_price }} </b>
                                    </p>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End A Column-->
            {% endif %}
            {% if (count.value > 0) and (count.value) % 3 == 0 %}
        </div>
        {% endif %}
        {% endfor %}
        {% if (count.value > 0) and (count.value) % 3 != 0 %}
    </div>
    {% endif %}
    {% endif %}
    {% if (count.value == 0) %}
    <p class="mx-4">There is no finished order.</p>
    {% endif %}
    </div>
</div>
{% endblock %}