div.subblock {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
div.headblock {
    background-color: #ffd6bb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*css for card*/

/*css add shadow to card*/
.card {
    box-shadow: rgba(49, 48, 48, 0.24) 0px 3px 8px;
    height: 400px;
}

/*css for card with rush status*/
#cardRush.card {
    background-color: rgba(246, 150, 99, 0.2);
    color: #cb4f30;
}

/*css for card with normal status*/
#cardNormal.card {
    background-color: rgba(246, 212, 99, 0.2);
    color: #cb9a30;
}

/*css for card with just arrive status*/
#cardJustArrive.card {
    background-color: rgba(154, 241, 120, 0.2);
    color: #77945c;
}

/*css for modal*/
.modal {
    align-items: center;
    justify-content: center;
    text-align: center;
}