{% extends 'base.html' %}
{% set active_page = "canteen" %}

{% block title %}
    Admin Page - Users Overview
{% endblock %}

{% block content %}
  <h1>Overview</h1>
  <a class="btn btn-success" href="/add/canteens">Add canteen</a>
  <hr>
  <table class="table table-striped table-dark">
    <tr>
      <th>Canteen Name</th>
      <th>Open Time</th>
      <th>Close Time</th>
    </tr>
    {% for canteen in canteens %}
      <tr>
        <td>{{canteen.name}}</td>
        <td>{{canteen.open_at}}</td>
        <td>{{canteen.close_at}}</td>
        <td><a href="/edit/canteens/{{canteen._id}}" class="btn btn-primary">Edit</a></td>
        <td><a href="/delete/canteens/{{canteen._id}}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}