{% extends 'base.html' %}

{% block title %}
    Admin Page - Users Overview
{% endblock %}

{% block content %}
  <h1>Overview</h1>
  <a class="btn btn-success" href="/add/comments">Add comment</a>
  <hr>
  <table class="table table-striped table-dark">
    <tr>
      <th>Posted User</th>
      <th>Posted Time</th>
      <th>Canteen</th>
      <th>Rating</th>
    </tr>
    {% for comment in comments %}
      <tr>
        <td>{{comment.posted_by_user}}</td>
        <td>{{comment.posted_time}}</td>
        <td>{{comment.posted_on_canteen}}</td>
        <td>{{comment.rating}}</td>
        <td><a href="/edit/comments/{{comment._id}}" class="btn btn-primary">Edit</a></td>
        <td><a href="/delete/comments/{{comment._id}}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}