{% extends 'base.html' %}

{% block title %}
    {{canteen_name}} Canteen Page
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/style/css/canteenpage.css">
{% endblock %}

{% block content %}
<main>
    
    <script >
        function toggleCart(){
            document.querySelector('.sidecart').classList.toggle('open-cart');
        }
        console.log("Hello");
        toggleCart();
    </script>

    <button class="btn btn-primary" onclick="toggleCart()" >Toggle Cart</button>
  
<div class="sidecart bg-light text-center open-cart">
  
  <ul class="nav flex-column">
    <div class="text-secondary m-0 px-4 text-center container pt-4">
      <div class="h4 font-weight-light text-center">
        Your Cart 
        <div class="d-inline float-right" style="margin-right: 0 auto;" onclick="toggleCart()">x</div>  <!-- THIS BLOCK EFFECTS THE CENTRE, IF LOOK CAREFULLY "YOUR CART" IS NOT CENTERED -->
      </div>
      <div class="h6 font-weight-light">No items in your cart</div>
    </div>

    <div>Your order from #CANTEEN NAME</div>
    
    <li class="nav-link d-flex flex-wrap flex-column">
      <div class="flex-row flex-wrap d-flex">
        <div class="mr-auto text-danger">noodles</div>
        <div class="ml-auto">$32</div>
      </div>
      <div class="ml-auto">- 1 +</div>
    </li>

    <li class="nav-link d-flex flex-wrap flex-column">
      <div class="flex-row flex-wrap d-flex">
        <div class="mr-auto text-danger">noodles</div>
        <div class="ml-auto">$32</div>
      </div>
      <div class="ml-auto">- 1 +</div>
    </li>
    <li class="nav-link d-flex flex-wrap flex-column">
      <div class="flex-row flex-wrap d-flex">
        <div class="mr-auto text-danger">noodles</div>
        <div class="ml-auto">$32</div>
      </div>
      <div class="ml-auto">- 1 +</div>
    </li>
  </ul>
  <div class="text-light h6 text-left mx-3">Total Produtos: <span class="text-success" id="sidecart-total-products">R$ 7.200,00</span></div>
  <div class="text-light h6 text-left mx-3">Frete: <span class="text-success" id="sidecart-frete">R$ 20,00</span> (taxa fixa)</div>
  <div class="text-light h5 text-left mx-3">Valor Final: <span class="text-success" id="sidecart-total">R$ 7.220,00</span></div>
  <div class="p-2">
    <button type="button" class="btn btn-success w-100">Finalizar Compra</button>
  </div>
</div>
</main>
{% endblock %}

{% block style %}
<style>
      /* body {
      background-color: #212121;
      color: white
      } */
   </style>
{% endblock %}


