{% extends 'base.html' %}

{% block title %}
Canteen List
{% endblock %}
{% block stylesheet %}

<link rel="stylesheet" href="../static/style/css/animatedhome.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Vollkorn&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}

<!--Top Picture-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../static/style/js/animatedhome.js"></script>
<script>AOS.init();</script>

<div id="top" class="container-fluid mb-5 overflow-hidden align-items-center">
    <div class="container-fluid my-5 d-flex flex-wrap align-items-center">
        <div id="imgcol" class="col-lg-6 pl-5">
            <div class="wrapper">
                <div class="circle align-items-right mx-3" data-aos="zoom-in-left">
                    <!--source picture: https://www.pngplay.com/th/image/67424-->
                    <img id="reload" src="{{ url_for('static', filename='../static/image/home/Noodle-Background-PNG-Image.png') }}" alt="scroll"
                        class="center">
                </div>
            </div>
        </div>
        <div class="col-lg-6 justify-content-left text-center">
            <h1 data-aos="fade-right" style="font-family: Parisienne; font-size: 70px;">CU Food Order</h1>
            <hr class="mx-auto" style="border: 70; max-width: 500px;">
            <h6 data-aos="fade-right" style="font-family: Vollkorn; font-size: 30px;">We offer good food with our care.</h6><br>
        </div>
    </div>
    <div class="row justify-content-center">
        <!--source picture: https://www.flaticon.com-->
        <img src="{{ url_for('static', filename='../static/image/home/forkspoon.png') }}" style="object-fit: cover; width: 40px; height: 40px;"
            class="center" data-aos="fade-down">
    </div>
    <hr data-aos="fade-down">
    <div class="row justify-content-center text-center">
        <h4 style="font-family: Vollkorn;">See Canteens</h4>
        <br>
    </div>
</div>

<!--Displaying Content List-->
<div class="container" id="tabs">
    <div class="row justify-content-center mx-auto">
        <!--Canteen List: separate opened and closed canteens-->
        <div class="">
            <!--Canteen List (Currently Open)-->
            <h4 class="font-weight-normal">Currently Opened</h4>
            {% if canteens_opened %}
            {% for canteen in canteens_opened %}
            <div class="card mt-3 mb-5" style="max-width: 800px; height: 300px;" data-aos="zoom-in-up">
                <div class="row g-0 d-flex flex-nowrap my-auto">
                    <div class="col-md-6 d-flex flex-column" style="text-align: center;">
                        {% if canteen.image_path %}
                        <img src="{{ url_for('static', filename='..' + canteen.image_path) }}" class="img-fluid cover" style="height: 300px" alt="...">
                        {% else %}
                        No Image for this canteen
                        {% endif %}
                    </div>
                    <div class="col-md-6 align-items-center d-flex">
                        <div class="card-body my-auto">
                            <h4 class="foodlist card-title mb-1" style="color: #df5607;">{{canteen.name}}</h4>
                            <p class="foodlist card-text mb-auto">
                                <b>Open at: </b> {{canteen.open_at}}
                            </p>
                            <p class="foodlist card-text mb-auto">
                                <b>Close at: </b> {{canteen.close_at}}
                            </p>
                            <p class="foodlist card-text mb-auto"></p>
                            {% if canteen.avg_rating %}
                            <p class="foodlist card-text mb-auto"><b>Rating: </b>{{canteen.avg_rating}}</p>
                            {% else %}
                            <p class="foodlist card-text mb-auto"><b>Rating: </b>No rating has been made yet.</p>
                            {% endif %}
                            <p class="foodlist card-text mb-1">
                                <b>Crowdedness: </b> 
                                {% if canteen.crowd == 'busy' %}
                                <img src="{{ url_for('static', filename='../static/image/home/busy.png') }}" alt="busy" width="25" height="25"> 
                                {% elif canteen.crowd == 'normal' %}
                                <img src="{{ url_for('static', filename='../static/image/home/normal.png') }}" alt="normal" width="25" height="25">
                                {% else %}
                                <img src="{{ url_for('static', filename='../static/image/home/few_people.png') }}" alt="few_people" width="25" height="25">
                                {% endif %}
                                {{canteen.crowd}}
                            </p>
                            <a class="btn btn-outline-warning mb-2" href="/canteens/{{canteen._id}}">View</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>All canteens are closed</p>
            {% endif %}

            <hr>

            <!--Canteen List (Currently Closed)-->
            <h4 class="font-weight-normal mt-4">Currently Closed</h4>
            
            {% if canteens_closed %}
            {% for canteen in canteens_closed %}
            <div class="card mt-3 mb-5" style="max-width: 800px; height: 300px;" data-aos="zoom-in-up">
                <div class="row g-0 d-flex flex-nowrap my-auto">
                    <div id="imgclosed" class="col-md-6 d-flex flex-column" style="text-align: center;">
                        {% if canteen.image_path %}
                        <img src="{{ url_for('static', filename='..' + canteen.image_path) }}" class="img-fluid cover" style="height: 300px" alt="...">
                        {% else %}
                        No Image for this canteen
                        {% endif %}
                    </div>
                    <div class="col-md-6 align-items-center d-flex">
                        <div id="closed" class="card-body my-auto">
                            <h4 class="foodlist card-title mb-1" style="color: #df5607;">{{canteen.name}}</h4>
                            <p class="foodlist card-text mb-auto">
                                <b>Open at: </b> {{canteen.open_at}}
                            </p>
                            <p class="foodlist card-text mb-auto">
                                <b>Close at: </b> {{canteen.close_at}}
                            </p>
                            <p class="foodlist card-text mb-auto"></p>
                            {% if canteen.avg_rating %}
                            <p class="foodlist card-text mb-auto"><b>Rating: </b>{{canteen.avg_rating}}</p>
                            {% else %}
                            <p class="foodlist card-text mb-auto"><b>Rating: </b>No rating has been made yet.</p>
                            {% endif %}
                            <p class="foodlist card-text mb-1">
                                <b>Crowdedness: </b> 
                                {% if canteen.crowd == 'busy' %}
                                <img src="{{ url_for('static', filename='../static/image/home/busy.png') }}" alt="busy" width="25" height="25"> 
                                {% elif canteen.crowd == 'normal' %}
                                <img src="{{ url_for('static', filename='../static/image/home/normal.png') }}" alt="normal" width="25" height="25">
                                {% else %}
                                <img src="{{ url_for('static', filename='../static/image/home/few_people.png') }}" alt="few_people" width="25" height="25">
                                {% endif %}
                                {{canteen.crowd}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>All canteens are opened</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}