{% extends 'base.html' %}

{% block title %}
    {{canteen.name}} Canteen Page
    <!-- Or change to Canteen Webapp -->
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/style/css/canteenpage.css">
{% endblock %}

{% block content %}
<main>

  <!-- Canteen Thumbnail and Info -->
  <div class="m-0 p-0" style="overflow: hidden; background-color: #ffffff;">
    {% if canteen.image_path %}
    <div id="bg-img" style="background-image: url({{canteen.image_path}}) ;">
    {% endif %}
    </div>

    <div id="canteen-info" class="container-fluid pt-5 pl-5 pb-4">
        <div class="font-weight-bold h3"> {{canteen.name}} </div>
        <div class="font-weight-light"> Open from 9am to 8.30pm </div>
        <div class="" style="font-weight: 200;"> Minimum price: $27 | Wait time: 30min - 1hr</div>
    </div>

  </div>

  <div id="cat-1" class="mt-4 mb-4 pt-0 pl-0 pr-0 pb-4 container-fluid" style="background-color:rgb(255, 255, 255); ">
    <div class="container m-0 pl-5 pt-4 pb-3">
      <div class="p-0 h4">Menu</div>
    </div>

    <div class="container-fluid pl-5 pr-5">
      <div class="d-flex flex-row flex-wrap" style="background-color: rgb(255, 255, 255); justify-content: space-between;">
        {% for dish in canteen.menu %}
        <div class="container m-0 pt-3 pb-3 pr-3 pl-0 col-lg-4 col-12 col-md-6" style="height: 20vh;">
          <button class="food-menu btn btn-outline-secondary h-100 w-100">
            <div class="container">
              <div class="flex-row d-flex flex-wrap">
                <!-- Left side of button -->
                <div class="d-flex flex-column" style="max-width: 50%;">
                  <span class="mr-auto pt-2 h5" style="font-size: 40px">{{dish.name}}</span>
                  <span class="mr-auto font-weight-light h6 text-left" style="font-size: 20px">{{dish.ingredients}}</span>
                  <span class="mr-auto font-weight-light h6 text-left" style="font-size: 20px">Price: {{dish.price}}</span>
                  <span class="mr-auto font-weight-light h6 text-left" style="font-size: 20px">Rating: {{dish.rating}}</span>
                </div>
                <!-- Right Side of Button -->
                <div class="ml-auto">
                  {% if dish.image_path %}
                  <img src="{{dish.image_path}}" style="object-fit: cover; width: 150px; height: 150px;">
                  {% endif %}
                </div>
              </div>
            </div>
          </button>
          <div style="text-align: right">
            <form method="post">
              <button class="btn btn-outline-primary" type="submit" name="dish" value="{{dish._id}}"> Add to Cart</button>
            </form>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>
{% endblock %}

{% block style %}
<style>
      /* body {
      background-color: #212121;
      color: white
      } */
   </style>
{% endblock %}


