{% extends 'base.html' %}
{% set active_page = "canteens" %}

{% block title %}
    Post Comment
{% endblock %}

{% block content %}
<h1 style="text-align:center">Post Comment at {{canteen.name}}</h1>
<div class="container">
    <form method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="rating">Rating</label>
            </div>
            <select class="custom-select" id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Comment: </span>
            </div>
            <textarea class="form-control" aria-label="With textarea" rows="20" name="paragraph"> {{paragraph}}</textarea>
        </div>
        <button class="btn btn-primary" type="submit"> Submit </button>
    </form>
</div>

{% endblock %}

