$main-color:#ff7500;
$main-color-semi:#ffbc82;
$main-color-soft: #ffd6bb;

.text-maincolor{
    color: $main-color;
}

div.block{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.headblock{
    background-color: $main-color-soft;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin div-comment-theme(){
    background-color: transparent;
    color: $main-color;
    font-weight: 400;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
div.comment{
    @include div-comment-theme();
    border: 0;
}

div.comment:hover{
    @include div-comment-theme();
}

thead{
    background-color: #ffdec1;
}

.labl {
    width: 430px;
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl{ /* (RADIO CHECKED) DIV STYLES */
    // background-color: $main-color-soft;
    border: 1px solid #ff6600;
}


.labl-check {
    width: 430px;
}
.labl-check > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl-check{
    background-color: $main-color-soft;
    border: 1px solid #ff6600;
}

.btn-maincolor{
    background-color: $main-color;
}

.btn-maincolor-semi{
    background-color: $main-color-semi;
}

.btn-maincolor-soft{
    background-color: $main-color-soft;
}

