{% extends 'base.html' %}
{% set active_page = "users" %}

{% block title %}
Admin Page - Users Overview
{% endblock %}

{% block content %}

<div class="container-fluid my-4">
  
  <h1 class="mx-4">Overview</h1>
  <a class="btn btn-success mx-4" href="/add/users">Add user</a>
  <hr class="mx-4">
  <div class="row mx-4">
    <table class="table table-hover border-bottom border-right border-left text-center">
      <thead class="thead-dark">
        <tr>
          <th style="width:23%">Email</th>
          <th style="width:23%">Username</th>
          <th style="width:12%">Auth Type</th>
          <th style="width:18%"></th>
          <th style="width:12%"></th>
          <th style="width:12%"></th>
        </tr>
      </thead>
      {% for user in users %}
      <tbody>
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>{{user.auth_type}}</td>
          <td class="text-right"><a href="/reset_password/{{user._id}}" class="btn btn-warning"> Reset password</a></td>
          <td><a href="/edit/users/{{user._id}}" class="btn btn-primary">Edit</a></td>
          <td class="text-left"><a href="/delete/users/{{user._id}}" class="btn btn-danger">Delete</a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}